.inputOuter {
  width: 1170px;
  margin: auto;
}

.loginModel {
  width: 300px;
  height: 300px;
  position: fixed;
  left: 50%;
  top: -500px;
  transform: translate(-50%, -50%);
  transition: 2s;
  background-color: aqua;
}
.loginModel span {
  position: absolute;
  font-size: 30px;
  right: 0px;
}
.show {
  top: 50% !important;
}
